:host {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.content-container {
  background-color: #fff;
  border: 1px solid #efefef;
  display: flex;
  flex-direction: row;

  .error-message {
    margin: auto;
    text-align: center;
  }

  .loader {
    margin: auto;
  }
}

.chart-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.graph-wrapper {
  width: 70%;
  height: 100%;
  min-height: 600px;
  display: flex;
  overflow: hidden;
}

.node-wrapper {
  display: flex;
  width: 30%;
  border-left: 1px solid #efefef;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .vertical-center {
    margin: auto;
  }
}

.node-card {
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
  padding: 25px;

  h2 {
    margin-bottom: 0;
    word-wrap: break-word;
  }

  .type-name {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .heading {
    font-size: 16xp;
    font-weight: bold;
    margin-bottom: 0;
  }

  ul {
    word-break: break-all;
    list-style: none;
  }
}

.search-filter {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;

  .mat-form-field {
    width: 400px;
  }

  button {
    height: 60px;
    top: 4px;
    margin-left: 25px;
  }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #fff;
}

table {
  margin-top: 50px;
  border: 1px solid #efefef;
}

th.mat-header-cell,
td.mat-cell {
  justify-content: center !important;
  flex-direction: column;
  padding-right: 25px;
}

td ul {
  list-style-type: none;
  padding: 0;
}
