h1 {
  text-align: center;
  margin-top: 0.8em;
  margin-bottom: 0.3em;
}

p {
  text-align: center;
}

button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}
